@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Open+Sans&display=swap');

html {
  font-size: var(--font-size);
}

* {
  font-size: 1.25rem;
  font-weight: 400;
  text-decoration: none;
  font-family: var(--body-font);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font);
}

h1 {
  font-size: 5.5rem;
  font-weight: 700;
}

h2 {
  font-size: 4.25rem;
  font-weight: 600;
}

h3 {
  font-size: 3.75rem;
  font-weight: 500;
}
