@import './_reset.css';
@import './_vars.css';
@import './_typography.css';

.page {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page > main {
  flex-grow: 2;
}

.page > header,
.page > footer {
  flex-grow: 0;
}

.page > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: calc(2 * var(--padding));
}