@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Open+Sans&display=swap');
*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: var(--white);
}

a, a:visited {
  color: var(--secondary-color);
}

strong {
  font-weight: 700;
}

html {
  font-size: var(--font-size);
}

* {
  font-size: 1.25rem;
  font-weight: 400;
  text-decoration: none;
  font-family: var(--body-font);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font);
}

h1 {
  font-size: 5.5rem;
  font-weight: 700;
}

h2 {
  font-size: 4.25rem;
  font-weight: 600;
}

h3 {
  font-size: 3.75rem;
  font-weight: 500;
}


.page {
  width: 100%;
}

.page > main {
  flex-grow: 2;
}

.main-header,
.page > footer {
  flex-grow: 0;
}

.page > footer {
  color: rgba(33, 33, 33, 0.5);
  padding: calc(2 * var(--padding));
  border-top: 1px solid var(--border-color);
}

.page > footer p {
  font-size: 0.85rem;
  margin-bottom: unset;
}

.main-header{
  width: 100%;
  padding: calc(2 * var(--padding));
  background: var(--white);
  border-bottom: 1px solid var(--border-color);
}

.main-nav a {
  padding: 0 calc(2 * var(--padding));
}

.main-nav a:not(:last-of-type) {
  border-right: 1px solid rgba(33, 33, 33, 0.5);
}

/**
  FLEX/2D LAYOUT CLASSES
*/
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  width: 100%;
  display: flex;
}

.justified-between {
  justify-content: space-between;
}

.justified-end {
  justify-content: flex-end;
}

.aligned-center {
  align-items: center;
}

.justified-center {
  justify-content: center;
}

.full-height {
  height: 100%;
}

/**
  GRID/3D LAYOUT CLASSES
*/

.grid {
  display: grid;
  width: 100%;
}

/**
  Background Colors
*/

.bg-secondary {
  background: var(--secondary-color);
  color: var(--white);
}

/**
  Sizing
*/

p {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

/**
  SHARED
*/

#hero {
  width: 100%;
  min-height: 500px;
  height: 80vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
  position: relative;
}

#hero .overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(33, 33, 33, 0.4);
}
