<div id="hero" style="background-image: url('/assets/img/full-fam.jpg')">
  <div class="overlay">
    <div class="container justified-center aligned-center full-height column">
      <h2>Roberts Family Way</h2>
    </div>
  </div>
</div>
<div class="page-markup container">
  <p>Twenty years ago, Cyndie and Larry Roberts sold their business, their home, and most of their belongings before packing
  their seven kids into two vehicles and moving from Southern California to Middle Tennessee in pursuit of a healthier
  lifestyle and a happier family. Since that drastic change, some of their children have gone on to become brilliantly
  smart and wildly charismatic adults whose core belief is that family is the most important thing, and that we should
  treat everyone like family.</p>
  
  <p>Each member of the Roberts family has their own unique interest and special skill that they bring to the table: from
  sewing face masks and crocheting blankets, to crafting handmade soaps and baked goods, to growing and manufacturing
  homemade hot sauces and salsas, to writing educational and health-oriented software––and in the spirit of family, we
  want to share these products with all of you.</p>
  
  <p>We are living in uncertain times, where community and sustainability are more important than ever, and we want to do our
  part to make sure that you are taken care of. We are finding more ways to bring you new products all the time, and it’s
  our hope that everyone can find something in our shop that speaks to your needs and desires.</p>
  
  <p>
  If you’re interested in what we have to offer, check out our
  <a href="https://www.etsy.com/shop/RobertsFamilyWay" target="_blank" rel="noopener noreferrer">shop here</a> and make sure you
  sign up for our newsletter so that you can stay up to date on all that we have to offer!</p>
</div>
<%- await include('page-cta') %>