<div id="hero" style="--background: url('/assets/img/full-fam.jpg')">
  <div class="overlay">
    <div class="container justified-center aligned-center full-height column">
      <h2>Roberts Family Way</h2>
    </div>
  </div>
</div>
<div class="page-markup container">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quod architecto nihil a voluptatibus aliquid sequi dolorem nostrum sint velit id eaque sunt quis iusto, doloribus cum adipisci at cupiditate.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium saepe error optio, recusandae dolores facilis esse aliquam voluptatum maxime alias similique amet earum? Optio perferendis velit minus numquam cumque aperiam!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus officiis placeat, sint eveniet harum praesentium reiciendis? Delectus, doloribus nisi, facere, in earum reiciendis hic aperiam commodi possimus deleniti illo facilis!
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione atque eum dolorem, voluptatum et, est quod quos, beatae blanditiis natus consequuntur officiis ab amet! Aliquid illo ab nesciunt iusto beatae!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil voluptates sapiente voluptas eveniet exercitationem eaque asperiores id quasi. Rem, expedita natus deleniti quidem commodi repudiandae culpa modi voluptate eius dolorum!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur reprehenderit maiores praesentium asperiores consequuntur dolores saepe modi aperiam expedita. Deserunt, explicabo officiis dicta porro assumenda incidunt provident aut. Quo, similique!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate reprehenderit autem tenetur nobis quia deserunt suscipit maxime rerum amet ex odio, iste ad excepturi doloremque alias quod sunt cum. Eum!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus molestias dolore ullam, repudiandae cum aliquam optio quidem. Cumque aliquid culpa numquam neque velit ipsum quod? Cupiditate voluptatem reprehenderit corporis illo!
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis expedita nam esse aliquam minima magnam dolorem quasi similique quod, quibusdam pariatur modi ipsum quae libero vero dignissimos. Libero, assumenda accusantium!
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum nostrum fugiat, reiciendis quo exercitationem sit quasi fuga quia voluptates odit id perferendis iste architecto? Aliquam veniam incidunt pariatur repellendus sunt.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit atque natus laborum, dolorem quas minus fugit, voluptates quaerat veniam labore rerum voluptate quos iure exercitationem placeat? Ipsam iure aliquid quas.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem cupiditate quaerat eaque sint. Iste, quisquam sunt, adipisci hic sequi commodi enim aliquid, officiis beatae rerum reprehenderit sit tempora quibusdam? Eius?
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et a quam eius consectetur ex quidem illo consequuntur earum deleniti, tempore officiis natus doloremque nihil odit esse magni beatae temporibus magnam?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti quo placeat cumque ab, nulla error deleniti velit vitae? Excepturi consectetur at porro id ut hic deleniti nesciunt, maxime vel facilis?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam vitae voluptatum earum expedita placeat quod commodi cum, laboriosam ratione nobis qui exercitationem fuga, cupiditate provident eaque temporibus, ex debitis aperiam.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi hic, quis doloremque soluta optio eligendi aspernatur libero. Minima quibusdam totam accusantium temporibus maxime sint quas, et aspernatur sed harum consequuntur?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem ipsa nihil aut cum et corporis. Odit, natus quibusdam provident perferendis, repellendus repudiandae vel possimus ipsa iusto quia distinctio aperiam dolorem?
  </p>
</div>
<%- await include('page-cta') %>