<section>
  <div class="container column aligned-center">
    <h3 class="section-heading">
      Recent Blog Posts
    </h3>
    <div class="recent-blog-posts column">
      <div class="recent-blog-post column">
        <div class="blog-post-header">
          <h4>A Blog Post</h4>
          <h6>July 20th, 2020</h6>
        </div>
        <div class="blog-post-snippet">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Non eum temporibus tempore at fuga cum nobis ducimus
          iusto tenetur, consequuntur tempora pariatur nisi, hic, facere aliquam. Aut assumenda odio dicta.
        </div>
        <a class="blog-post-cta" href="/posts/some-not-real-blog-post">
          Read Post
        </a>
      </div>
      <div class="recent-blog-post column">
        <div class="blog-post-header">
          <h4>Another Blog Post With Long Title</h4>
          <h6>June 10th, 2020</h6>
        </div>
        <div class="blog-post-snippet">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Non eum temporibus tempore at fuga cum nobis ducimus
          iusto
          tenetur, consequuntur tempora pariatur nisi, hic, facere aliquam. Aut assumenda odio dicta.
        </div>
        <a class="blog-post-cta" href="/posts/some-not-real-blog-post">
          Read Post
        </a>
      </div>
      <div class="recent-blog-post column">
        <div class="blog-post-header">
          <h4>This one has a really, really, really, really long title</h4>
          <h6>Februrary 2nd, 2020</h6>
        </div>
        <div class="blog-post-snippet">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Non eum temporibus tempore at fuga cum nobis ducimus
          iusto
          tenetur, consequuntur tempora pariatur nisi, hic, facere aliquam. Aut assumenda odio dicta.
        </div>
        <a class="blog-post-cta" href="/posts/some-not-real-blog-post">
          Read Post
        </a>
      </div>
      <div class="recent-blog-post column">
        <div class="blog-post-header">
          <h4>A First Blog Post</h4>
          <h6>January 1st, 1970</h6>
        </div>
        <div class="blog-post-snippet">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Non eum temporibus tempore at fuga cum nobis ducimus
          iusto
          tenetur, consequuntur tempora pariatur nisi, hic, facere aliquam. Aut assumenda odio dicta.
        </div>
        <a class="blog-post-cta" href="/posts/some-not-real-blog-post">
          Read Post
        </a>
      </div>
    </div>
  </div>
</section>