<% if (typeof hero !== 'undefined') { %>
<div id="hero" style="background-image: url('<%- hero %>')">
  <div class="overlay column aligned-center justified-end">
    <h2>
      <%- title %>
    </h2>
  </div>
</div>
<% } else { %>
<h2>
  <%- title %>
</h2>
<% } %>
<div class="page-markup column container">
  <%- body %>
</div>
<section class="page-cta">
  <div class="container column">
    <h3>Like what you read?</h3>
    <div class="newsletter-signup column">
      <label for="newsletter-signup">Signup For Our Newsletter</label>
      <div class="signup row">
        <input type="email" id="newsletter-signup" name="newsletter" />
        <button>
          Signup
        </button>
      </div>
    </div>
    <div class="shop-cta">
      <a href="https://www.etsy.com/shop/RobertsFamilyWay" target="_blank" rel="noopener noreferrer">
        View our Shop
      </a>
    </div>
  </div>
  </div>
</section>