<head>
  <title><%= (typeof title != "undefined" ? title : "Roberts Family Way") %></title>
  <meta name="description" content="<%= (typeof description !== 'undefined' ? description : "Roberts Family Way offers organic, homemade goods such as soaps, candles, masks, and more. This are better when they're made the Roberts Family Way.") %>" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/assets/img/favicon.webp" />
  <link rel="stylesheet" href="/assets/css/main.css" />
  <% if(typeof styles !== 'undefined') { %>
    <%- await include('styles') %>
  <%}%>
</head>