<!--
  Hero Area
-->
<div id="hero" style="background-image: url('/assets/img/family-two.jpg')">
  <div class="overlay">
    <div class="container justified-center aligned-center full-height column">
      <h3>That's Just The</h3>
      <h2>Roberts Family Way</h2>
    </div>
  </div>
</div>

<!--
  First Call To Action Area
  What we sell/do
-->
<section>
  <div class="container column aligned-center">
    <h3 class="section-heading">Our Goods</h3>
    <div class="grid goods">
      <div class="column goods-card">
        <h4 class="goods-card-heading">Soaps</h4>
        <p>Staying clean is more important than ever these days, and we’re here to help! Stock up with our homemade, all-natural
        bars of soap, made with sustainably sourced ingredients and formulated to nourish your skin. We’re adding new scents and
        styles all the time!</p>
      </div>
      <div class="column goods-card">
        <h4 class="goods-card-heading">Masks</h4>
        <p>Cover all of your face-covering needs with our two-ply cotton face masks––made in a variety of sizes, styles, and prints
        for all ages and occasions. Bulk orders for weddings, funerals, and other events <a href="#contact">upon request!</a></p>
      </div>
      <div class="column goods-card">
        <h4 class="goods-card-heading">Educational Tools</h4>
        <p>Are you worried about your children falling behind academically? With Uncle Rudy’s Spelling Software, you can see
        exactly how they’re doing, help them get to where they need to be, AND keep their skills sharp going forward.</p>
      </div>
    </div>
    <a href="https://www.etsy.com/shop/RobertsFamilyWay" target="_blank" rel="noopener noreferrer" class="section-cta">
      See Our Shop
    </a>
  </div>
</section>

<!--
  Who We Are
-->
<section class="bg-secondary">
  <div class="container column aligned-center">
    <h3 class="section-heading">Our Family</h3>
    <div class="aligned-center family justified-between">
      <div class="family-photos">
        <img src="/assets/img/kate-grad-one.jpg" alt="Our Most Recent Graduate" title="Our Most Revent Graduate" />
        <img src="/assets/img/santa-one.jpg" alt="Three Generations of Living the Roberts Way"
          title="Three Generations of Living the Roberts Way" />
        <img src="/assets/img/kate-grad-three.jpg" alt="Mom is foxy AF" title="Mom is foxy AF" />
      </div>
      <div class="family-info column">
        <p>
          The Roberts are a big family made up of even bigger hearts, and each of us has a different passion to share with all of
          you. We believe in leaving this world better than we found it, and we believe that every person can do that in their own
          unique way. Some of us are focused on homemade, all-natural wellness and cleanliness in the form of soaps, fabric
          softeners, candles, cotton masks, and more. Others are focused on bringing homegrown goods to your table in the form of
          organically grown and handmade hot sauces, salsas, and baked goods.</p>

          <p>
          And for the more technologically inclined, we have educational software and tutorials for doing work on the web. Interested
          in learning more? Check out our <a href="/about">About Us</a> page for more information, or head on over to
          <a href="https://www.etsy.com/shop/RobertsFamilyWay" target="_blank" rel="noopener noreferrer">our shop</a>
          to see what we’ve got for you!
        </p>
        <a class="section-cta family-cta" href="/about">
          Read More
        </a>
      </div>
    </div>
  </div>
</section>
<%- await include('recent-blog-posts') %>
<%- await include('page-cta') %>